---
Language: Cpp
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes

IncludeBlocks: Preserve
SortIncludes: false

SpacesBeforeTrailingComments: 2
...
